<section class="grid-container">
    <div class="hero-img">
        <slot name="hero-img"></slot>
    </div>
</section>


<style lang="scss">
    @import "../library/style/tools/sass-mq";

    .hero-img {
        width: 100%;
        margin-top: var(--padding-md);
    }
    
</style>