<section class="hero  grid-container  grid-container--justified  grid-container--top">
    <div 
        class="hero__title"
        data-aos="fade-up"
        data-aos-delay="10"
        >
        <h1><slot name="title"></slot><span class="pink">.</span></h1>
    </div>
    <div 
        class="hero__col"
        data-aos="fade-up"
        data-aos-delay="350"
        >
        <slot name="about"></slot>
    </div>

    <slot name="details">
    </slot>

</section>


<style lang="scss">
    @import "../library/style/tools/sass-mq";

    .hero {
        &__title {
            width: 100%;
            margin-top: var(--padding-xl);
            h1 {
                margin-bottom: var(--padding-sm);
                font-size: 3rem;
                @include mq($from: tablet) {
                    font-size: 3.75rem;
                }
                @include mq($from: desktop) {
                    font-size: 4.5rem;
                }
            }
        }
        &__col {
            width: 100%;

            @include mq($from: tablet) {
                width: 70%;
            }
            @include mq($from: desktop) {
                width: 58%;
            }
            @include mq($from: wide) {
                width: 70%;
            }
        }

    }
</style>