<Header {segment}/>
{#if segment === undefined ? "page" : undefined}
<main 
	class:main--white={$ui.bgColor.visible}
	class="main"
	>
	<slot></slot>
</main>

{:else if segment === "about" ? "page" : undefined}

<main 
	class="main  main--b0"
	>
	<slot></slot>
</main>

{:else}

<main 
	class="main  main--white"
	>
	<slot></slot>
</main>
{/if}

<Footer {segment}>

<span slot="download">
{#each data.globals.global.downloadCv as download} 
	<a href="{download.url}" target="_blank">
		<button class="button">
			Download CV
		</button>
	</a>
{/each}
</span>

</Footer>

<svelte:window on:scroll={handleScroll} />

<script context="module">
  export async function preload() {
	const query = `
				{	
					globals {
						global {
							downloadCv {
								url
							}
						}
					}
				}
				`;
    const res = await this.fetch(`api.json?query=${query}`);
    const data = await res.json();
    return data;
  }
</script>

<script>
	import AOS from 'aos';
    import 'aos/dist/aos.css';
	import { onMount } from 'svelte';
	
	import Header from '../components/Header.svelte';
	import Footer from '../components/Footer.svelte';
	import { ui } from '../library/stores';

	export let segment;

	export let data;

	const handleScroll = () => {
		const scroll = window.pageYOffset;
		$ui.bgColor.visible = scroll >= 400;
		lastScroll = scroll;
	};

	let lastScroll = 0;

	onMount(() => {
		AOS.init();

        // You can also pass an optional settings object
        // below listed default settings
        AOS.init({
        // Global settings:
        disable: false, // accepts following values: 'phone', 'tablet', 'mobile', boolean, expression or function

        // Settings that can be overridden on per-element basis, by `data-aos-*` attributes:
        duration: 350, // values from 0 to 3000, with step 50ms
        easing: 'ease', // default easing for AOS animations
        once: true, // whether animation should happen only once - while scrolling down

        });
    });

</script>

<!-- <script>
    

    
	
</script> -->

<style lang="scss" global>
	@import "./library/style/global.scss";
	.main {
		background-color: var(--black);
		transition: all 0.3s;
		padding-bottom: 5rem;

		&--b0 {
			padding-bottom: 0;
			@include mq($from: tablet) {
				padding-bottom: 5rem;
			}
		}

		&--white {
			background-color: var(--white);
		}

		&--red {
			background-color: red;
		}
	}
</style>