<svelte:head>
	<title>Rob Wills</title>
</svelte:head>


<Hero>
    <div 
      class="white" 
      slot="intro"
      data-aos="fade-up"
      data-aos-delay="350"
      >
        {@html aboutProject.content}
    </div>
</Hero>

<Video>
<span slot="download">
{#each data.globals.global.downloadCv as download} 
	<a href="{download.url}" target="_blank">
		<button class="button  button--dark">
        Download CV
    </button>
	</a>
{/each}
</span>
</Video>


<script context="module">

  export async function preload() {
    // the `slug` parameter is available because
    // this file is called [slug].svelte

    /* prettier-ignore */
    const query = `
      {
        globals {
						global {
							downloadCv {
								url
							}
						}
				}
        entry(section:about) {
          ... on About {
            title,
            aboutProject {
                totalPages
                content
            }
          }
        }
      }
    `;

    const res = await this.fetch(`api.json?query=${query}`);
    const data = await res.json();
    return data;
  }
</script>

<script>

  import Hero from '../components/about/Hero.svelte';
  import Video from '../components/about/Video.svelte';


  // Get our data from preload
  export let data;

  // Assign project to data.entry so it's easier to query against
  const about = data.entry;

  // Destructure the properties (cleaner & easier to query in our markup)
  const { title, aboutProject  } = about;

</script>


