<svelte:head>
	<title>Contact</title>
</svelte:head>

<div class="wrap">
	<section class="wrap__bg">
	</section>
	<section class="wrap__bg">
	</section>
</div>


<style lang="scss">
	@import "../library/style/tools/sass-mq";
	
	.wrap {
		background: var(--pink);
		&__bg {
			width: 100%;
			height: 110vh;
			border-bottom: 4px solid rgb(255, 187, 0);
		}
	}

	

</style>

<script>

	// window.sections = [...document.querySelectorAll('.section')];
	// window.lastScrollTop = window.pageYOffset;

	// document.body.style.background = window.sections[0].getAttribute('data-bg');

	// window.addEventListener('scroll', onScroll);

	// function onScroll() {
	// const scrollTop = window.pageYOffset;
	
	// const section = window.sections
	// 	.map(section => {
	// 		const el = section;
	// 		const rect = el.getBoundingClientRect();
	// 		return {el, rect};
	// 	})
	// 	.find(section => section.rect.bottom >= (window.innerHeight * 0.5));
	// 	document.body.style.background = section.el.getAttribute('data-bg');
	// }

</script>