
<svelte:head>
	<title>Rob Wills</title>
</svelte:head>


<Hero>
    <span slot="intro">{data.entry.introduction}</span>
</Hero>

<Projects entries={data.entries} />



<style lang="scss">
	@import "../library/style/tools/sass-mq";

</style>


<script context="module">

  export async function preload() {
    // the `slug` parameter is available because
    // this file is called [slug].svelte

    /* prettier-ignore */
    const query = `
      {
        entries(section:[projects]) {
          title,
          uri,
          ... on Projects {
            title,
            homeImage {
              homeImages: url(transform: homeImages),
              filename, 
              height, 
              width
            }
          }
          
        }
        entry(section:[home]) {
          ... on Home {
            introduction
          }
        }
      }
    `;

    const res = await this.fetch(`api.json?query=${query}`);
    const data = await res.json();
    return data;

    const { introduction } = data.data.entry;
    const { entries: projects } = data.data;
    return { introduction, projects };
  }
</script>

<script>

  import Hero from '../components/home/Hero.svelte';
  import Projects from '../components/home/Projects.svelte';

  // Get our data from preload
  export let data;

</script>

