<svelte:head>
	<title>Rob Wills - { title }</title>
</svelte:head>


<Hero>
    <span slot="title">{ title }</span>
    <span slot="about">{@html aboutProject.content }</span>
    
      <div 
          slot="details" 
          class="hero__col  hero__col--details"
          data-aos="fade-up"
          data-aos-delay="450"
        >
        {#if projectDetails.length}
          {#each projectDetails as block}
            <div class="hero__col  hero__col--small">
                <h2>{block.projectTitle}</h2>
                {@html block.contentProject.content }
            </div>
            {/each}
        {/if}
      </div>
</Hero>

{#if hero.length}
<HeroImage>
  <img 
      data-aos="fade-up"
      data-aos-delay="550"
      slot="hero-img" 
      src="{ hero[0].url }" 
      width="{ hero[0].width }" 
      height="auto" 
      alt="{ hero[0].filename }"
  >
</HeroImage>
{/if}

{#if imageBlocks.length}
  {#each imageBlocks as entry }
  <ImageBlock>

    <div 
      data-aos="fade"
      data-aos-duration="1000"
      class="gallery" 
      slot="gallery"
      >
      {#each entry.imageProject as image }
        <div class="gallery__col">
          <img src="{ image.url }" width="{ image.width }" height="auto" alt="{ image.filename }">
        </div>
      {/each}
      {#if entry.textProject}
        <!-- {#each entry.textProject as test } -->
          <div class="gallery__col  gallery__col--text">
            <p>{entry.textProject}</p>
          </div>
        <!-- {/each} -->
      {/if}
    </div>

  </ImageBlock>
  {/each}
{/if}



<style lang="scss">
    @import "../library/style/tools/sass-mq";

    .hero__col {
            width: 100%;

            @include mq($from: tablet) {
                width: 70%;
            }
            @include mq($from: desktop) {
                width: 58%;
            }
            @include mq($from: wide) {
                width: 70%;
            }

            &--details {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-content: flex-start;
                margin-top: var(--padding-sm);

                @include mq($from: tablet) {
                    width: 30%;
                    margin-top: 0;
                    flex-wrap: wrap;
                    
                }
                @include mq($from: desktop) {
                    width: auto;
                }
            }

            &--small {
                width: 50%;

                @include mq($from: tablet) {
                    padding-left: var(--padding-sm);
                    width: 100%;
                }
                @include mq($from: desktop) {
                    width: auto;
                }
            }

        }

    .gallery {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: var(--off-white);
        margin-top: var(--padding-md);
        width: 100%;
        padding: var(--padding-sm);
        

        @include mq($from: tablet) {
            flex-wrap: nowrap;
        }

        &__col {
            width: 100%;
            padding: var(--padding-sm);

            @include mq($from: tablet) {
                flex-grow: 1;
            }

            &--text {
              width: 100%;
             
              @include mq($from: desktop) {
                  width: 45%;
                  margin-top: var(--padding-sm);
              }
            }
            
        }
    }


</style>

<script context="module">

  export async function preload({ params }) {
    // the `slug` parameter is available because
    // this file is called [slug].svelte

    /* prettier-ignore */
    const query = `
      {
        entry(slug: "${params.slug}") {
          title,
          ... on Projects {
            title,
            aboutProject {
                totalPages
                content
            },
            projectDetails {
              ... on ProjectDetailsProjectDetail {
                projectTitle,
                contentProject {
                  content
                }
              }
            }
            hero {
              url, 
              filename, 
              height, 
              width
            },
            imageBlocks {
              ... on ImageBlocksImageBlock {
                imageProject {
                  url, 
                  filename, 
                  height, 
                  width
                }
                textProject
              }
            }
          }
        }
      }
    `;

    const res = await this.fetch(`api.json?query=${query}`);
    const data = await res.json();
    return data;
  }
</script>

<script>

  import Hero from '../../components/projects/Hero.svelte';
  import HeroImage from '../../components/projects/HeroImage.svelte';
  import ImageBlock from '../../components/projects/ImageBlock.svelte';
  // Get our data from preload
  export let data;

  // Assign project to data.entry so it's easier to query against
  const projects = data.entry;

  // Destructure the properties (cleaner & easier to query in our markup)
  const { title, aboutProject, projectDetails, hero, imageBlocks  } = projects;

  

</script>








