<section class="grid-container  hero">
    
    <div class="hero__box">
        <h1 class="hero__h1"
            data-aos="fade-up"
            data-aos-delay="10"
            >
            About<span class="pink">.</span>
        </h1>
        
        <slot name="intro"></slot>
        
    </div>
    
</section>

<style lang="scss">
    @import "../library/style/tools/sass-mq";
    .hero {
        
        min-height: 55vh;
        align-content: flex-end;

        &__box {
            width: 100%;
            padding: var(--padding-xl) 0 var(--padding-md);
            color: var(--white);
            @include mq($from: tablet) {
                width: 70%;
            }
        }

        &__h1 {
            letter-spacing: 0.25rem;
        }

    }
</style>
