<section class="grid-container  grid-container--xl  video">

    <div class="video__container">
        <div class="grid-container">
            <div 
                class="video__col"
                data-aos="fade-up"
                data-aos-delay="350"
                >
                <slot name="download"/>
                <p class="video__link">Drop me a email <a class="video__a" href="mailto:robwillsdesign@gmail.com">robwillsdesign@gmail.com</a></p>
            </div>
        </div>
    </div>

    <div class="video__col">
        <div class='embed-container'
             data-aos="fade-up"
             data-aos-delay="450" 
            >
            <iframe 
                    class="video__bg" 
                    title="video" 
                    id="iframe" 
                    src="https://player.vimeo.com/video/438971442?background=1&autoplay=1&loop=1&byline=0&title=0" 
                    frameborder="0" 
                    webkitallowfullscreen 
                    mozallowfullscreen 
                    allowfullscreen 
                    loop
                    >
            </iframe>
        </div>  
    </div>

</section>


<style lang="scss">
	@import "../library/style/tools/sass-mq";
    .video {
        position: relative;
        height: auto;
        justify-content:flex-end;
        
        &__container {
            width: 100%;
            
            @include mq($from: tablet) {
                position: absolute;
                top:0;
                left:0;
            }
        }

        &__col {
            width: 100%;
            @include mq($from: tablet) {
                width: 50%;
            }
        }

        &__link {
            padding-top: var(--padding-sm);
            color: var(--white);
        }

        &__a {
            color: var(--pink);
            &:hover {
                color: var(--white);
            }
        }
        &__bg {
            background-color: var(--dark-gray);
            margin-top: var(--padding-md);
            @include mq($from: tablet) {
                margin-top: 0;
            }
        }
    }
   
</style>