<section class="grid-container  hero">
    
    <div class="hero__box">
        <h1 class="hero__h1" 
            data-aos="fade-up"
            data-aos-delay="10"
            >
            Rob Wills<span class="pink">.</span>
        </h1>
        <p  class="hero__intro"
            data-aos="fade-up"
            data-aos-delay="350"
            >
            <slot name="intro"></slot>
        </p>
    </div>
    
</section>


<style lang="scss">
    @import "../library/style/tools/sass-mq";
    .hero {
        color: var(--white);
        align-content: flex-end;
        height: 65vh;
        padding-bottom: var(--padding-lg);

        @include mq($from: tablet) {
            min-height: 60rem;
        }

        @include mq($from: desktop) {
            height: 65vh;
        }


        &__box {
            width: 100%;
            align-self: flex-end;

            @include mq($from: tablet) {
                width: 80%;
            }
            @include mq($from: wide) {
                width: 50%;
                padding-bottom: var(--padding-sm);
            }
        }

        &__h1 {
            letter-spacing: 0.25rem; 
        }
        
        &__intro {
            font-size: 2rem;
            font-weight: 300;
            color: var(--white);
            @include mq($from: tablet) {
                font-size: 2.75rem;
            }
        }
    }
</style>
