<section class="grid-container  grid-container--xl  project">

    {#each entries as entry, index}

    {#if (index % 2 == 0)}
        <article class="project__block">
            <a class="project__a"  href="{entry.uri}">
                
                {#if entry.homeImage.length }
                <div class="project__imgbox">
                    <img
                        data-aos="fade-left"
                        data-aos-duration="1000"
                        class="project__img"
                        src={entry.homeImage[0].homeImages}
                        alt="{entry.homeImage[0].filename}"
                        width="{entry.homeImage[0].width}"
                        height="{entry.homeImage[0].height}" />
                </div>
                {/if}
                
                <div class="project__details">
                    <h1 class="project__h1">{ entry.title }</h1>
                    <div class="project__circle">
                        <span class="project__point">
                            <img
                                class="project__arrow"
                                src="assets/arrow.svg"
                                width="13"
                                height="21"
                                alt=">" />
                        </span>
                    </div>
                </div>
            </a>
        </article>

    {:else}
        <article class="project__block  rellax" 
            data-rellax-speed="-3"
            data-rellax-xs-speed="0"
            data-rellax-mobile-speed="0"
            data-rellax-tablet-speed="-3"
            data-rellax-desktop-speed="-3"
            >
            <a class="project__a"  href="{entry.uri}">
                {#if entry.homeImage.length }
                <div class="project__imgbox">
                    <img
                        data-aos="fade-left"
                        data-aos-duration="1000"
                        class="project__img"
                        src={entry.homeImage[0].homeImages}
                        alt="{entry.homeImage[0].filename}"
                        width="{entry.homeImage[0].width}"
                        height="{entry.homeImage[0].height}" />
                </div>
                {/if}
                <div class="project__details">
                    <h1 class="project__h1">{ entry.title }</h1>
                    <div class="project__circle">
                        <span class="project__point">
                            <img
                                class="project__arrow"
                                src="assets/arrow.svg"
                                width="13"
                                height="21"
                                alt=">" />

                        </span>
                    </div>
                </div>
            </a>
        </article>
    {/if}

    
    {/each}

</section>

<script>
    import Rellax from 'rellax';
    import { onMount } from 'svelte';

	// export let data;
    
    onMount(() => {
		var rellax = new Rellax('.rellax', {
            breakpoints:[576, 768, 1201]
        });
    });
    
    export let entries;
	
</script>



<style lang="scss">
    @import "../library/style/tools/sass-mq";


    .project {

        align-items: center;

        &__imgbox {
            width: 100%;
            height: 25rem;
            // background-color: var(--pink);
            transition: 0.3s all;
            overflow: hidden;
        }

        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover; 
        }

        &__details {
            width: 100%;
            padding: 0 var(--padding-sm);
            margin-top: var(--padding-sm);
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            color: var(--black);
            @include mq($from: tablet) {
                max-width: 38rem;
                padding: 0;
            }
            @include mq($from: wide) {
                max-width: 45rem;
            }
        }

        &__h1 {
            font-weight: normal;
            font-size: 2rem;
            margin: 0;
            @include mq($from: tablet) {
                font-size: 2.5rem;
            }
        }

        &__circle {
            position: relative;
        }

        &__point {
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 50%;
            background-color: var(--pink);
            
            
            transition: 0.3s all;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-left: 0.25rem;

            @include mq($from: tablet) {
                width: 1.75rem;
                height: 1.75rem;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }

        &__arrow {
            opacity: 1;
            transition: opacity 0.3s;
            @include mq($from: tablet) {
                opacity: 0;
            }
        }

        &__block {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            padding-bottom: var(--padding-lg);
            

            @include mq($from: tablet) {
                width: 50%;
                padding-bottom: var(--padding-xl);
            }

            &:nth-child(1), &:nth-child(4), &:nth-child(7) {

                .project__imgbox {
                    // background-color: #EFB8B8;
                    @include mq($from: tablet) {
                        height: 50rem;
                    }
                    @include mq($from: wide) {
                        height: 65rem;
                    }
                }
            }

            &:nth-child(2), &:nth-child(5), &:nth-child(8) {

                .project__a {
                    @include mq($from: tablet) {
                        width: 70%;
                    }
                    @include mq($from: wide) {
                        width: 60%;
                    }
                }
                .project__imgbox {
                    // background-color: #5A2020;
                    @include mq($from: tablet) {
                        height: 60rem;
                    }
                    @include mq($from: wide) {
                        height: 90rem;
                    }
                }
            }
            
            &:nth-child(3), &:nth-child(6), &:nth-child(9) {

                .project__a {
                    @include mq($from: tablet) {
                        width: 80%;
                    }
                    @include mq($from: wide) {
                        width: 70%;
                    }
                }
                .project__imgbox {
                    // background-color: #EBAC33;
                    @include mq($from: tablet) {
                        height: 35rem;
                    }
                    @include mq($from: wide) {
                        height: 50rem;
                    }
                }
            }

        }    

        &__a {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            &:hover, &:focus {
                .project__imgbox {
                    transform: scale(0.95);
                }
                .project__point {
                    width: 3.5rem;
                    height: 3.5rem;
                }
                .project__arrow { 
                    opacity: 1;
                }
            }
        }
        
    }

</style>