// global.scss
@import "./theme.scss";
@import "tools/sass-mq.scss";
@import "tools/touch.scss";
@import "./nav.scss";
// @import "tools/carousel.scss";
 
@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/SofiaProLight.woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/SofiaProRegular.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Sofia Pro";
  src: url("../fonts/SofiaProSemiBold.woff");
  font-weight: 600;
  font-style: normal;
}

// VARIBLES - COLOURS & SPACING

:root {
    --pink: #FF5A53;
    --off-white: #EFF0F0;
    --light-gray: #4e4e4e;
    --dark-gray: #1f1f1f;
    --white: #fff;
    --black: #000000;
 
    --padding-sm: 2rem;
    --padding-md: 3rem;
    --padding-lg: 4rem;
    --padding-xl: 20rem;
    
    --container-width: calc(160rem + var(--padding-lg) * 2);
    --radius: 2.5rem;
  
    @include mq($from: tablet) {
      --padding-sm: 2rem;
      --padding-md: 5rem;
      --padding-lg: 8rem;
      --padding-xl: 20rem;
    }
    @include mq($from: desktop) {
      --padding-sm: 4rem;
      --padding-md: 8rem;
      --padding-lg: 14rem;
      --padding-xl: 20rem;
    }
}

* {
 box-sizing: border-box;
}

// HTML & BODY

html {
    font-size: 62.5%;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
    color: var(--black);
    font-family: 'Sofia Pro', sans-serif;
    font-size: 1.8rem;
    min-height: 100%;
    width: 100%;
    padding: 0;
    &.has-modal {
      overflow: hidden;
    }
}

// GRID

.grid-container {
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 var(--padding-md);

  &--justified {
    justify-content: space-between;
  }

  &--xl {
    max-width: calc(var(--container-width) + 40rem);
    padding: 0;
  }

  &--padding-top {
    padding-top: var(--padding-md);
  }

  &--top {
    align-items: flex-start;
  }
}

// FONT STYLES

a {
    color: inherit;
    text-decoration: none;
    font-weight: normal;
    transition: all 0.3s;
    &:hover {
      color: var(--pink);
    }
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 0.5em;
    font-weight: 600;
  }
  
  h1 {
    font-size: 4rem;
    line-height: 1.2em;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: 2.8rem;
  }
  
  h4 {
    font-size: 2rem;
  }
  
  h6 {
    font-size: 1.7rem;
  }
  
  @include mq($from: tablet) {
    h1 {
      font-size: 5.5rem;
    }
  
    h2 {
      font-size: 2.5rem;
    }
  
    h3 {
      font-size: 3.8rem;
    }
  
    h4 {
      font-size: 2.4rem;
    }
  
    h6 {
      font-size: 1.8rem;
    }
  }
  
  p {
    color: var(--black);
    line-height: 1.4em;
    margin-top: 0;
    font-weight: 300;
  }

  .light {
    font-weight: 300;
  }
  .bold {
    font-weight: 600;
  }
  .normal {
    font-weight: normal;
  }

  .header {
    width: 100%;
  }


// GLOBAL BUTTON STYLES

  .button {
    background: var(--pink);
    border-radius: 0.3rem;
    border: none;
    color: white;
    transition: all 0.3s;
    font-size: 1.75rem;
    padding: 1rem 2rem ;
    margin: 0;
    font-weight: 300;

    &:hover {
      background: var(--white);
      color: var(--pink);
      cursor: pointer;

      @include mq($from: tablet) {
        background: var(--black);
        color: var(--white);
      }
    }
    &:focus {
      background: var(--white);
      color: black;
      outline: none;
    }

    @include mq($from: tablet) {
      padding: 1.25rem 2.75rem ;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 1.25rem;
      letter-spacing: 0.25rem;
      font-weight: 600;
    }

    &--dark:hover {
      color: var(--black);
      background-color: var(--white);
    }


  }

  .hide {
    display: none;
  }

// GLOBAL

img {
  width: 100%;
  vertical-align: top;
}

.img-opacity {
  opacity: 0.4;
  &--light {
    opacity: 0.6;
  }
}

.pink {
  color: var(--pink);
}

.white {
  color: var(--white);
  p {
    color: var(--white);
  }
}

/// Video

.embed-container { 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
} 

.embed-container iframe, .embed-container object, .embed-container embed { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}


.sent.sent {
  opacity: 1 !important;
}