.nav {

    &__ul {
        margin: 0;
        padding: 0;
        &::after {
            content: '';
            display: block;
            clear: both;
        }
    }

    &__li {
        display: block;
        float: left;
        font-weight: 600;
        font-size: 2.5rem;
        color: var(--white);
        width: 100%;

        @include mq($from: tablet) {
            width: auto;
            font-size: 1.75rem;
            &:nth-last-child(1) {
                .nav__a {
                    margin: 0 0 0 1.75rem;
                    padding: 0 0 0 0.25rem;
                }
            }
        }

        @include mq($from: desktop) {
            font-size: 2rem;
        }
    }

    [aria-current] {
        position: relative;
        display: inline-block;
        color: var(--white);
        border-bottom: 2px solid var(--pink);
        transition: 0.3s;
    }

    &__a {
        text-decoration: none;
        display: block;
        color: white;
        padding: 0.75rem 0;
        font-weight: normal;

        @include mq($from: tablet) {
            color: var(--white);
            padding: 0 0.25rem;
            margin: 0 1.75rem;
            border-bottom: 2px solid var(--black);
            transition: 0.3s;
            &:hover {
                border-bottom: 2px solid var(--pink);
                cursor: pointer;
                color: var(--white);
            }
        }
    }

    &.bg-white, &--white {
        .nav__a {
            @include mq($from: tablet) {
                color: var(--black);
                border-bottom: 2px solid var(--white);
                &:hover {
                    border-bottom: 2px solid var(--pink);
                }
            }
        }
        [aria-current] {
            border-bottom: 2px solid var(--pink);
        }
    }
}