<footer class="footer">
	<section class="grid-container  grid-container--justified">
		
		<a href='.'>
			<svg version="1.1" class="footer__logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 1564 1349" enable-background="new 0 0 1564 1349" xml:space="preserve">
				<path d="M1147.5,1073.7c-79.2-0.7-173.4-202.7-245.5-358.1c0,0,46.1-175.3,139.1-187.4c4.9-0.6,8.9,4.4,21.4,16	c58.6,54,216.3,531.4,337.8,529.3L1147.5,1073.7z"/>
				<path d="M1301.8,257.9c-6,281.7-22.3,475.5-45.4,603.4c0,0,111.5,197.6,171.7,202.5	c51.1,4.2,113.5-262.7,125.1-805.9H1301.8z"/>
				<path d="M758.9,519.4c-115.5-0.4-190.3,376.2-268.3,600.4c33.2,177.1,138.6,207.2,138.6,207.2	c139.9-79.7,221.8-813.4,383-807.5L758.9,519.4z"/>
				<path d="M263.4,11.5c0,0,121.5,1328.5,336.8,1324.1l-254.5,0C132.3,1327.2,12,11.5,12,11.5H263.4z"/>
			</svg>
		</a>
		
		<div class="footer__col">
			<div class="footer__col  footer__col--sm">
				<ul class="footer__ul">
					<li class="footer__li">
						<a class="footer__a" href='.'>Projects</a>
					</li>
					<li class="footer__li">
						<a class="footer__a" href='about'>About</a>
					</li>
					<li class="footer__li">
						<a class="footer__a" href='contact'>Contact</a>
					</li>
				</ul>
			</div>
			<div class="footer__col  footer__col--sm">
				<p class="normal">
					Get in touch 
					<a class="footer__a  footer__a--pink" href="mailto:robwillsdesign@gmail.com">robwillsdesign@gmail.com</a>
				</p>
			</div>
			<div class="footer__col  footer__col--sm">
				<slot name="download"></slot>
			</div>
			
		</div>

		<div class="footer__col  footer__col--lg">
			<p class="footer__small">© Rob Wills {copyright} </p>
		</div>
		
	</section>
</footer>

<script>

	import { onMount } from 'svelte';

	let now = new Date(), year;
	let copyright;

	onMount(()=> {
        
        year = now.getFullYear();
    	copyright = [year].join('-');
	})

</script>

<style lang="scss">

	@import "../library/style/tools/sass-mq";

	.footer {
        padding: 4rem 0;
		background-color: var(--off-white);

		&__logo {
			width: 6rem;
			fill: var(--pink);
			transition: all 0.3s;
			&:hover {
				fill: var(--black);
			}
			@include mq($from: tablet) {
				width: 8rem;
			}
		}

		&__ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

		&__li {
			margin: 0 2rem 0 0;
			display: inline-block;
			@include mq($from: tablet) {
				display: block;
				margin: 0 0 1rem 0;
			}
		}

		&__a {
			display: block;
			&--pink {
				color: var(--pink);
				transition: all 0.3s;
				&:hover {
					color: var(--dark-gray);
				}
			}
		}

		&__col {
			width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;

			@include mq($from: tablet) {
				width: auto;
			}

			&--sm {
				padding: 1.75rem 0 0;
				@include mq($from: tablet) {
					padding-left: var(--padding-sm);
				}
			}

			&--lg {
				width: 100%;
			}
		}

		@include mq($from: tablet) {
			padding: 8rem 0;
		}
		

		&__small {
			width: 100%;
			font-size: 1.5rem;
			margin-top: 4rem;
			@include mq($from: tablet) {
				margin-top: 9rem;
				font-size: 1.25rem;
			}
		}

	}

</style>

