<form action="https://getform.io/f/dd73df86-1c8d-44dd-9fbe-5b91a91fbc36" method="POST">
<!-- <form on:submit={handleSubmit}> -->
	
    <input
      	id="name"
      	name="name"
      	on:change={handleChange}
      	on:blur={handleChange}
      	bind:value={$form.name}
		placeholder="Name"
    />
	{#if $errors.name}
      <small>{$errors.name}</small>
    {/if}
    
	
    <input
      	id="email"
      	name="email"
      	on:change={handleChange}
      	on:blur={handleChange}
      	bind:value={$form.email}
		placeholder="Email"

    />
	{#if $errors.email}
      <small>{$errors.email}</small>
    {/if}
    

    <textarea
      	id="message"
      	name="message"
      	on:change={handleChange}
      	on:blur={handleChange}
		placeholder="Message"
    ></textarea>

    <button class="button  form__button" type="submit">SEND</button>
</form>


<script>
    import { createForm } from "svelte-forms-lib";
    import * as yup from "yup";

    const { form, errors, state, handleChange, handleSubmit } = createForm({
      initialValues: {
        name: "",
		email: "",
		message: ""
      },
      validationSchema: yup.object().shape({
        name: yup.string().required(),
        email: yup
          .string()
          .email()
		  .required(),
		message: yup.string(),
      }),
      onSubmit: values => {
        alert(JSON.stringify(values));
      }
    });
</script>


<style lang="scss">
	@import "../library/style/tools/sass-mq";

	.form {
		&__button {
			margin-top: 2rem;
		}
	}

	input,
	textarea {
		font-family: inherit;
		font-size: inherit;
		min-width: 100%;
		width: 100%;
		padding: 12px;
		box-sizing: border-box;
		border: 1px solid var(--dark-gray);
		transition: all 150ms ease;
		background: var(--white);
		display: block;
		margin-top: 2rem;

		@include mq($from: tablet) {
			min-width: 400px;
			width: 400px;
		}
	}

	input:focus,
	textarea:focus {
		outline: none;
		box-shadow: 0 0 0 4px rgb(227, 227, 245);
		border-color: var(--grey);
	}

	input:disabled,
	textarea:disabled {
		color: #ccc;
	}

	button:disabled {
		background-color: var(--grey);
	}

	button:focus:not(:disabled) {
		box-shadow: 0 0 0 2px var(--pink);
	}

	button:hover:not(:disabled) {
		background-color: var(--pink);
	}

	/* used for errors */
	small {
		display: block;
		font-size: 12px;
		color: var(--pink);
		margin-top: 0;
	}
</style>