
{#if segment === undefined ? "page" : undefined}
	<header 
		class:is-visible={$ui.head.visible}
		class:bg-white={$ui.headBg.visible}
		class:menuOpen={$ui.menu.open}
		class="header"
		>
		
		<div class="grid-container  grid-container--justified">
			<a href='.'>
				<svg version="1.1" class="header__logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 1564 1349" enable-background="new 0 0 1564 1349" xml:space="preserve">
					<path d="M1147.5,1073.7c-79.2-0.7-173.4-202.7-245.5-358.1c0,0,46.1-175.3,139.1-187.4c4.9-0.6,8.9,4.4,21.4,16	c58.6,54,216.3,531.4,337.8,529.3L1147.5,1073.7z"/>
					<path d="M1301.8,257.9c-6,281.7-22.3,475.5-45.4,603.4c0,0,111.5,197.6,171.7,202.5	c51.1,4.2,113.5-262.7,125.1-805.9H1301.8z"/>
					<path d="M758.9,519.4c-115.5-0.4-190.3,376.2-268.3,600.4c33.2,177.1,138.6,207.2,138.6,207.2	c139.9-79.7,221.8-813.4,383-807.5L758.9,519.4z"/>
					<path d="M263.4,11.5c0,0,121.5,1328.5,336.8,1324.1l-254.5,0C132.3,1327.2,12,11.5,12,11.5H263.4z"/>
				</svg>
			</a>

			
			<nav class="header__nav" class:toggleMenu={$ui.menu.open} >
				<Menu {segment}/>
			</nav>

			<button 
				class="header__button  button"
				on:click={toggleMenu}
				>
				<span>{$ui.menu.open ? 'Close' : 'Menu'}</span>
			</button>
			
		</div>
		
	</header>

{:else if segment === "about" ? "page" : undefined}
	<header 
		class:is-visible={$ui.head.visible}
		class:menuOpen={$ui.menu.open}
		class="header"
		>
		
		<div class="grid-container  grid-container--justified">
			<a href='.'>
				<svg version="1.1" class="header__logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 1564 1349" enable-background="new 0 0 1564 1349" xml:space="preserve">
					<path d="M1147.5,1073.7c-79.2-0.7-173.4-202.7-245.5-358.1c0,0,46.1-175.3,139.1-187.4c4.9-0.6,8.9,4.4,21.4,16	c58.6,54,216.3,531.4,337.8,529.3L1147.5,1073.7z"/>
					<path d="M1301.8,257.9c-6,281.7-22.3,475.5-45.4,603.4c0,0,111.5,197.6,171.7,202.5	c51.1,4.2,113.5-262.7,125.1-805.9H1301.8z"/>
					<path d="M758.9,519.4c-115.5-0.4-190.3,376.2-268.3,600.4c33.2,177.1,138.6,207.2,138.6,207.2	c139.9-79.7,221.8-813.4,383-807.5L758.9,519.4z"/>
					<path d="M263.4,11.5c0,0,121.5,1328.5,336.8,1324.1l-254.5,0C132.3,1327.2,12,11.5,12,11.5H263.4z"/>
				</svg>
			</a>

			
			<nav class="header__nav" class:toggleMenu={$ui.menu.open} >
				<Menu {segment}/>
			</nav>

			<!-- <div class="button" on:click="{() => showModal = true}">Modal</div> -->
			

			<button 
				class="header__button  button"
				on:click={toggleMenu}
				>
				<span>{$ui.menu.open ? 'Close' : 'Menu'}</span>
			</button>
			
		</div>
		
	</header>
{:else}
	<header 
		class:is-visible={$ui.head.visible}
		class:menuOpen={$ui.menu.open}
		class="header  bg-white"
		>
		
		<div class="grid-container  grid-container--justified">
			<a href='.'>
				<svg version="1.1" class="header__logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  viewBox="0 0 1564 1349" enable-background="new 0 0 1564 1349" xml:space="preserve">
					<path d="M1147.5,1073.7c-79.2-0.7-173.4-202.7-245.5-358.1c0,0,46.1-175.3,139.1-187.4c4.9-0.6,8.9,4.4,21.4,16	c58.6,54,216.3,531.4,337.8,529.3L1147.5,1073.7z"/>
					<path d="M1301.8,257.9c-6,281.7-22.3,475.5-45.4,603.4c0,0,111.5,197.6,171.7,202.5	c51.1,4.2,113.5-262.7,125.1-805.9H1301.8z"/>
					<path d="M758.9,519.4c-115.5-0.4-190.3,376.2-268.3,600.4c33.2,177.1,138.6,207.2,138.6,207.2	c139.9-79.7,221.8-813.4,383-807.5L758.9,519.4z"/>
					<path d="M263.4,11.5c0,0,121.5,1328.5,336.8,1324.1l-254.5,0C132.3,1327.2,12,11.5,12,11.5H263.4z"/>
				</svg>
			</a>
	
			<nav class="header__nav" class:toggleMenu={$ui.menu.open} >
				<Menu {segment}/>
			</nav>
			
			<button 
				class="header__button  button"
				on:click={toggleMenu}
				>
				<span>{$ui.menu.open ? 'Close' : 'Menu'}</span>
			</button>
			
		</div>
		
	</header>
{/if}

{#if openModal}
	<Modal>
	</Modal>
{/if}

<svelte:window on:scroll={handleScroll} />


<script>
	import Menu from '../components/Menu.svelte';
	import Modal from '../components/Modal.svelte';
	import { ui } from '../library/stores';

	export let segment;

	const toggleMenu = () => {
		$ui.menu.open = !$ui.menu.open;
	};

	let lastScroll = 0;

	const handleScroll = () => {
		const scroll = window.pageYOffset;
		$ui.head.visible = scroll < 50 || scroll < lastScroll;
		$ui.headBg.visible = scroll >= 400;
		lastScroll = scroll;
	};

	function openModal() {
		$ui.modal.open = true;
	}

	

</script>


<style lang="scss">
	@import "../library/style/tools/sass-mq";

	.header {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		padding: 2rem 0;
		z-index: 4;
		transition: transform 0.5s ease,
		background-color 0.3s ease;
		background: var(--black);

		&__logo {
			width: 6rem;
			height: auto;
			fill: white;
			transition: all 0.3s;
			&:hover {
				fill: var(--pink);
			}
		}

		&:not(.is-visible) {
			transform: translateY(-100%);
		}

		&.is-visible {
			transform: none;
		}

		&.bg-white {
			background: var(--white);
			.header__logo {
				fill: var(--black);
				transition: all 0.3s;
				&:hover {
					fill: var(--pink);
				}
			}
		}

		&.menuOpen {
			transform: none;
		}

		&__nav {
			width: 100%;
			height: 100vh;
			overflow: hidden;
		
			position: fixed;
			top: -100vh;
			left: 0;
			
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			background: var(--pink);
			transition: all 0.3s ease;

			&.toggleMenu {
				width: 100%;
				height: 100vh;
				top: 0;
				bottom: 0;
				overflow: hidden;
			}

			@include mq($from: tablet) {
				position: static;
				width: auto;
				height: auto;
				background: none;
			}
		}

		&__button {
			z-index: 3;
			display: block;
			@include mq($from: tablet) {
				display: none;
			}
			
		}
	}

</style>

