{#if segment === undefined ? "page" : undefined}

<div 
	class:bg-white={$ui.headBg.visible}
	class="nav"
	>
	<Nav {segment}/>
</div>

{:else if segment === "about" ? "page" : undefined}

<div class="nav">
	<Nav {segment}/>
</div>

{:else}

<div class="nav  nav--white">
	<Nav {segment}/>
</div>

{/if}


<script>
	import Nav from '../components/Nav.svelte';
	import { ui } from '../library/stores';
	export let segment;

	const handleClick = () => ($ui.menu.open = false);
</script>

<style lang="scss">
	@import "../library/style/tools/sass-mq";
	
</style>