<button
  class="modal-wrapper"
  class:is-open={$ui.modal.open}
  on:click|self={handleCloseModal}
  aria-label="Modal toggle" />

<div class="modal" class:is-open={$ui.modal.open} role="dialog">
  <div class="modal__wrap">
    <h1>Get in touch<span class="pink">.</span></h1>
    <!-- <Form/> -->
    <TempForm/>
    <button
        on:click|self={handleCloseModal}
        class="modal__close"
        >
        Close
      </button>
  </div>
</div>

<script>
  // import Form from '../components/Form.svelte';
  import TempForm from '../components/TempForm.svelte';
  import { ui } from '../library/stores';

  $: {
    const action = $ui.modal.open ? 'add' : 'remove';

    process.browser ? document.body.classList[action]('has-modal') : null;
    if ($ui.modal.open) {
      $ui.head.visible = false;
    }
    if ($ui.modal.close) {
      sentMessage.classList.remove("sent");
    }
  }

  function handleCloseModal() {
    $ui.modal.open = false;
    $ui.head.visible = true;
    const sentMessage = document.querySelector('.form__sent');
    sentMessage.classList.remove("sent");
  }
</script>

<style lang="scss">
  @import "../library/style/tools/sass-mq";

  .modal-wrapper {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0;
    border: none;
    background-color: rgba($color: #000000, $alpha: .5);
    z-index: 3;

    &.is-open {
      pointer-events: all;
      opacity: 1;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .modal {
    z-index: 3;
    background: var(--dark-gray);
    border: none;
    color: white;
    height: 100%;
    left: auto;
    max-width: 100vw;
    opacity: 1;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    padding: var(--padding-lg);
    position: fixed;
    right: 0;
    top: 0;
    transform-origin: left center;
    transition: all 0.3s;
    width: 100%;
    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: center;

    @include mq($from: tablet) {
      max-width: 50%;
    }
    @include mq($from: desktop) {
      max-width: 70rem;
    }

    &.is-open {
      transition-delay: 150ms;
    }

    &:not(.is-open) {
      display: block;
      transform: translateX(100%) scale(1.2);
    }

    &__close {
      background: none;
      border-color: none;
      border-style: none;
      color: var(--pink);
      padding: 0 0 var(--padding-md);
      margin: 0;
      font-size: 1.75rem;
      position: absolute;
      bottom: 0;

      @include mq($from: tablet) {
        display: none;
      }
    }

    
  }
</style>
