<ul class="nav__ul">
    <li class="nav__li"
        on:click={handleClick}
    >
        <a class="nav__a" aria-current='{segment === undefined ? "page" : undefined}' href='.'>Projects</a>
    </li>
    <li class="nav__li"
        on:click={handleClick}
    >
        <a class="nav__a" aria-current='{segment === "about" ? "page" : undefined}' href='about'>About</a>
    </li>
    <li class="nav__li">
        <div class="nav__a" on:click={openModal}>
            Contact
        </div>
    </li>
    
</ul>


<script>
    import { ui } from '../library/stores';
    
	export let segment;

    const handleClick = () => ($ui.menu.open = false);
    
    function openModal() {
		$ui.modal.open = true;
    }
    
</script>

<style lang="scss">
	@import "../library/style/tools/sass-mq";
	
</style>