<script>
  import {onMount} from 'svelte';

  onMount(() => {
    const formElement = document.querySelector('#contact-form');
    const sentMessage = document.querySelector('.form__sent')

    formElement.addEventListener('submit', (event) => {
      event.preventDefault();
      const data = new URLSearchParams(new FormData(formElement));
      fetch('https://getform.io/f/dd73df86-1c8d-44dd-9fbe-5b91a91fbc36', {
        method: 'post',
        body: data
      });
      sentMessage.classList.add("sent");
      document.getElementById("contact-form").reset();
    });

    // grecaptcha.ready(function() {
    //   grecaptcha.execute('6Lds1rYZAAAAALaEhXpmyhv5EmjdPf4okg0-4smY', {action: 'homepage'})
    //   .then(function(token) {
    //     document.getElementById('captchaResponse').value = token;
    //   });
    // });

  });

  

</script>

<form id="contact-form" action="https://getform.io/f/dd73df86-1c8d-44dd-9fbe-5b91a91fbc36" method="POST">

  <input 
    type="text" 
    name="name" 
    placeholder="Name"
    required
  >
  <input 
    type="email" 
    name="email" 
    placeholder="Email"
    required
  >
  <textarea 
    type="text" 
    name="message" 
    placeholder="Message"
  ></textarea>

  <!-- <input type="hidden" id="captchaResponse" name="g-recaptcha-response"> -->

  <button 
    type="submit" 
    class="button  form__button"
    >
      Send
  </button>

</form>

<div 
  class="form__sent"
  >
  <h3>Thank you!</h3>
  <p>Your message has been successfully sent</p>
</div>


<style lang="scss">
	@import "../library/style/tools/sass-mq";

	.form {
		&__button {
			margin-top: 2rem;
		}
    &__sent {
      padding: 2rem 0;
      margin-top: 3rem;
      max-width: 400px;
      width: 100%;
      opacity: 0;
      transition: all 0.3s;
      h3 {
        font-size: 2.25rem;
        color: var(--pink);
      }
      p {
        font-size: 1.75rem;
        color: white;
        margin: 0;
      }
    }
	}

	input,
	textarea {
		font-family: inherit;
		font-size: inherit;
		min-width: 100%;
		max-width: 100%;
		width: 100%;
		padding: 12px;
		box-sizing: border-box;
		border: 1px solid var(--dark-gray);
		transition: all 150ms ease;
		background: var(--white);
		display: block;
		margin-top: 2rem;

		@include mq($from: tablet) {
			max-width: 400px;
			width: 100%;
		}
	}

	input:focus,
	textarea:focus {
		outline: none;
		box-shadow: 0 0 0 4px rgb(227, 227, 245);
		border-color: var(--grey);
	}

	input:disabled,
	textarea:disabled {
		color: #ccc;
	}

	button:disabled {
		background-color: var(--grey);
	}

	button:focus:not(:disabled) {
		box-shadow: 0 0 0 2px var(--pink);
	}

	button:hover:not(:disabled) {
		background-color: var(--pink);
	}

	/* used for errors */
	// small {
	// 	display: block;
	// 	font-size: 12px;
	// 	color: var(--pink);
	// 	margin-top: 0;
	// }

</style>